# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': []
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'toggl'
      'submenu': [
        {
          'label': 'Toggl Start'
          'command': 'toggl:start'
        },
        {
          'label': 'Toggl End'
          'command': 'toggl:end'
        }
      ]
    ]
  }
]
